.clearfix {
    overflow: auto;
    zoom: 1;
}

.simple-form {
    width: 50%;
    margin: 0 auto;
}

.simple-form h1 {
    padding: 30px 0px 10px 0px;
}

.input_frame {
    padding: 10px 0px;
}

.input_frame > .title {
    width: 25%; 
    font-size: 16px;
    float: left;
    padding: 8px 0px;       /* to align vertically with input */
}

.input_frame input {
    width: calc(75% - 25px); 
    font-size: 16px;
    float: left;
    padding: 5px 10px;
    border: solid 1px gray; /* to match default color of textarea */
}

.input_frame .ingredient_frame {
    width: 75%;
    float: left;
}

.input_frame .ingredient_input {
    padding: 5px 0px;
}

.input_frame input.ingredient_amnt {
    width: calc(20% - 10px);
    float: left;
    margin-right: 10px;
}

.input_frame input.ingredient_name {
    width: calc(80% - 25px);
    float: left;
    margin-right: 10px;
}

.input_frame .added_ingredient .fa-times {
    color: white;
}

.input_frame .added_ingredient .fa-times:hover {
    color: red;
    cursor: pointer;
}


.input_frame textarea {
    width: calc(75% - 25px); 
    font-size: 16px;
    float: left;
    resize: vertical;
    padding: 5px 10px;
    border: solid 1px gray;
}

.input_frame #instructions_input {
    height: 200px;
}

.input_frame .added_ingredient,
.input_frame .added_utility {
    width: calc(100% - 25px);
    font-size: 16px; 
    padding: 5px 10px; 
    margin-top: 5px; 
    margin-right: 10px;
    background-color: rgba(38, 88, 96, 0.8); 
    color: white;
    float: left;
}

.input_frame .form_utility {
    width: calc(100% - 25px);
    margin-right: 10px;
}

.input_frame .added_frame {
    height: 37px;
}

#add-sign {
    margin-top: 10px;
}
#add-sign:hover {
    color: green;
    cursor: pointer;
}

#remove-sign {
    margin-top: 10px;
}
#remove-sign:hover {
    color: red;
    cursor: pointer;
}

.fa {
    margin-top: 10px;
}

