@import url(https://fonts.googleapis.com/css?family=Roboto:400,300);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);

.navbar-default .navbar-nav>li>a {
    color: white;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #e8ab3f;
}

#title_or_ingredient {
	width:100%;
	text-align: center;
	margin-top: 40px; 
}

.btn-group {
	display: inline-block;
}

body {
	font-family: Roboto;
	background-color: #f9f8f4;
}


.stylish-input-group .input-group-addon{
    background: white !important; 
}

.stylish-input-group .form-control{
	border-right:0; 
	box-shadow:0 0 0; 
	border-color:#ccc;
}

.stylish-input-group button{
    border:0;
    background:transparent;
}

/*#title {
    border: 2px solid gray;
    border-radius: 0px;
    width: 100px;
    height: 50px;
    margin: 4px;
    background-color: gray;
    color: red;
}

#ingred {
    border: 2px solid gray;
    width: 100px;
    height: 50px;
    margin: 4px;
   	background-color: gray;
    color: red;
}
*/

.toolbar {
	background-color: #265860;
	/*background-color: #f9f8f4;*/
	text-align: center;
}

#menu_icon {
	color: #e8ab3f;
	/*color: #265860;*/
	width: 15px;
}

#menu_icon:hover {
	color: #f9f8f4;
	/*color: #e8ab3f;*/
}

.fa-bars {
	font-size: 20px;
}

.navbar-header{
	text-align: left;
	height: 52px;
	padding-left: 10px;
	padding-top: 15px;
}

.navbar {
	border: none;
	z-index: 30;
	background-color: #e8ab3f;
	/*background-color: #265860;;*/
	height: 55px;
}

.title {
	display: inline;
	padding-left: 10px;
	font-size: 20px;
	color: #e8ab3f;
	/*color: #265860;*/
}

.title:hover {
	/*color: #e8ab3f;*/
	color: #f9f8f4;
}

#bar {
	height:80px;
	padding: 0px;
}

#searchbar {
	height: 80px;
	padding: 5%;
}

.form-control {
	height: 60px;
	font-size: 20px;
}

#recipes {
	padding: 20px;
}

.recipe_item {
	display: inline-block;
	padding: 20px;
	margin-bottom: 1%;
	background-color: #e8ab3f;
}

/*.recipe-header {
	color: white;
}*/

.recipe_item .title {
	float: left;
	width: calc(100% - 20px);
	font-weight: 700;
	font-size: 16px;
	padding-left: 0px;
	cursor: pointer;
	color: #f9f8f4;
	position: relative;
	border-bottom: 2px solid #f9f8f4;
}

.recipe_item .dropdown {
	float: right;
	width: 20px;
	cursor: pointer;
}

.recipe_item .more_info {
	width: 100%;
	clear: both;
}

.recipe_item .ingredients {
	padding: 5px 0px;
}

.hidden {
	display: hidden;
}

.container-fluid {
	z-index: -1;
}


#slide_menu_icon {
	height: 100%;
	width: 10%;
	background-color: rgba(38, 88, 96, 0.8);
	position:fixed;
	padding-top: 55px;
 }


.btn-default {
	background-color: red;
	border: none;
}

.btn #search_concept {
	font-size: 15px;
	background-color: white;
}

.search_filter {
	text-align: center;
	font-size: 15px;
}

/*.search_filter:hover{
	background-color: red;
}*/

