@import url(https://fonts.googleapis.com/css?family=Roboto:400,300);
#title_or_ingredient {
	width:100%;
	text-align: center;
	margin-top: 40px; 
}

.btn-group {
	display: inline-block;
}

body {
	font-family: Roboto;
}

.stylish-input-group .input-group-addon{
    background: white !important; 
}

.stylish-input-group .form-control{
	border-right:0; 
	box-shadow:0 0 0; 
	border-color:#ccc;
}

.stylish-input-group button{
    border:0;
    background:transparent;
}

.toolbar {
	background-color: #265860;
	text-align: center;
}

a {
	color: white;
	display: inline;
}

a:hover {
	color: orange;
	text-decoration: none;
}

img#menu_icon {
	display: inline;
	width: 20px;
	margin-bottom: 8px;
	cursor: pointer;
}

.navbar-header{
	text-align: left;
	height: 45px;
	padding-left: 10px;
	padding-top: 10px;
}

.navbar {
	border: none;
	z-index: 30;
}

.title {
	display: inline;
	padding-left: 10px;
	font-size: 20px;
}

#bar {
	height:80px;
	padding: 0px;
}

#searchbar {
	height: 80px;
	padding: 5%;
}

.form-control {
	height: 60px;
	font-size: 20px;
}

#recipes {
	padding: 20px;
}

.recipe_item {
	display: inline-block;
	padding: 20px;
	margin-bottom: 1%;
	background-color: #9D3C3C;

}

.recipe-header {
	color: white;
}

.recipe_item .title {
	float: left;
	width: calc(100% - 20px);
	font-weight: 700;
	font-size: 16px;
	padding-left: 0px;
	cursor: pointer;
}

.recipe_item .dropdown {
	float: right;
	width: 20px;
	cursor: pointer;
}

.recipe_item .more_info {
	width: 100%;
	clear: both;
}

.recipe_item .ingredients {
	padding: 5px 0px;
}

.hidden {
	display: hidden;
}

.container-fluid {
	z-index: -1;
}


#slide_menu_icon {
	height: 100%;
	width: 10%;
	background-color: lightgray;
	position:fixed;
	padding-top: 55px;
	z-index: 20;
 }
