@import url(https://fonts.googleapis.com/css?family=Roboto:400,300);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700);

html {
    height: 100%;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    height: 100%;
    padding: 0px;
    margin: 0px;
}

.navbar-nav {
    width: 100%;
    text-align: center;
}

.navbar-default {
	background-color: white;
    border: none;
}

.navbar-default .navbar-nav>li>a {
    color: black;
    font-size: 14px;
    margin: 10px 20px 0px 20px;
}

.navbar-default .navbar-nav>li>a:hover {
	border-bottom: 2px solid black;
}

#menu {
	background-color: white;
	width: 100%;
	position: relative;
}

#selected_page {
	border-bottom: 2px solid black;
}

#search_section {
    background-color: #f2aa0a;
    padding: 20px 0px 30px 45px;
    position: absolute;
    bottom: 0px;
}

#searchbar_input, .searchbar_button {
	color: black;
	border-radius: 0px;
    border: none;
    height: 40px;
    box-shadow: none;
    font-size: 14px;
}

.searchbar_button {
	width: 110px;
}

/* Placeholder text color */
#searchbar_input::-webkit-input-placeholder {
  color: black;
}

.dropdown-menu {
	min-width: 110px;
}

/*.input-group-btn {
	border: 1px solid black;
}

#searchbar_input {
	border: 1px solid black;
	height: 0px;
}*/

.input-group-btn .dropdown-menu li {
	padding: 5px 15px 5px 15px;
}

.input-group-btn .dropdown-menu li:hover {
	background-color: #e6e6e6;
}
#searchIcon {
	width: initial;
}

#recipe_template {
	padding: 15px 10px 15px 30px;
	margin-top: 20px;
	color: black;
	border: 2px solid darkgray;
	margin-left: 28%;
	width: 47.5%;
	position: relative;
	border-radius: 5px;
 }

#recipe_template #recipe-title-icon {
	float: right;
	padding-right: 20px;
}

#recipe-title-words {
	padding-bottom: 5px;
	font-size: 'Roboto Condensed', sans-serif;
	font-weight: 700;
    font-size: 15px;
}

#food_logo {
    height: 100%; 
    display: block;
    padding: 10% 0px;
    margin: -20px auto 0px auto;
    width: auto;
}

#PeaceCorpsImage {
    height: calc(100% - 152px);
}

#PeaceCorpsImage .row {
    height: 100%;
}


#logo_frame {
    height: 100%;
    width: 100%;
}

#PeaceCorpsImage.hideFoodLogo {
    transition: 1.5s height;
    height: 0px;
}

#food_logo.hideFoodLogo {
    transition: 1.5s linear height;
    height: 0px;
    opacity: 0.0;
}

#search_section.hideFoodLogo {
    position: relative;
}

.box:hover {
	transform: rotate(360deg);
}

.ingredients {
	padding: 2px 0px 0px 0px;
}

ul {
	padding-left: 20px;
}

.instructions {
	padding-top: 5px;
}

.more_info_headers {
	margin-top: 10px;
}

span.info_header_underline {
	border-bottom: 1px solid black;
}

/* remove horizontal scrolling introduced by standard
 * Bootstrap row */

.row {
    margin-left: 0px;
    margin-right: 0px;
}

/* navbar centering */

.navbar .collapse.navbar-collapse {
    float: right;
    position:relative;
    left:-50%;
    text-align:left;
    width: 370px;
}

.navbar ul {
    list-style: none;
    position:relative;
    left:50%;
}