@import url(https://fonts.googleapis.com/css?family=Roboto:400,300);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);

body {
	font-family: 'Roboto Condensed', sans-serif;
}

.navbar-nav {
    width: 100%;
    text-align: center;
}

.navbar-default {
	background-color: white;
    border: none;
}

.navbar-default .navbar-nav>li>a {
    color: black;
    font-size: 14px;
    margin: 10px 20px 0px 20px;
}

.navbar-default .navbar-nav>li>a:hover {
	border-bottom: 2px solid black;
}

#menu {
	background-color: white;
	width: 100%;
	padding-left: 28%;
	position: relative;
}

#selected_page {
	border-bottom: 2px solid black;
}

#food_logo {
	height: 250px; 
	display: block;
	margin: 120px auto 140px auto;
	width: auto;
}

#search_section {
	background-color: #f2aa0a;
    padding: 20px 0px 30px 45px;
    height: 100% - 250px;
}

#searchbar_input, .searchbar_button {
	color: black;
	border-radius: 0px;
    border: none;
    height: 40px;
    box-shadow: none;
    font-size: 14px;
}

.searchbar_button {
	width: 110px;
}

/* Placeholder text color */
#searchbar_input::-webkit-input-placeholder {
  color: black;
}

.dropdown-menu {
	min-width: 110px;
}

.input-group-btn .dropdown-menu li {
	padding: 5px 15px 5px 15px;
}

.input-group-btn .dropdown-menu li:hover {
	background-color: #e6e6e6;
}
#searchIcon {
	width: initial;
}

#recipe_template {
	background-color: #f2aa0a;
	padding: 15px 10px 15px 30px;
	margin-top: 20px;
	color: white;
}

#recipe_template span {
	float: right;
	padding-right: 20px;
}

#recipe-title {
	border-bottom: 1px solid white;
}

.box:hover {
	transform: rotate(360deg);
}

/*@import url(https://fonts.googleapis.com/css?family=Roboto:400,300);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);

.navbar-default .navbar-nav>li>a {
    color: white;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #e8ab3f;
}

#title_or_ingredient {
	width:100%;
	text-align: center;
	margin-top: 40px; 
}

#search {
	margin-top: 5%;
}    

.btn-group {
	display: inline-block;
}

body {
	font-family: Roboto;
}


.stylish-input-group .input-group-addon{
    background: white !important; 
}

.stylish-input-group .form-control{
	border-right:0; 
	box-shadow:0 0 0; 
	border-color:#ccc;
}

.stylish-input-group button{
    border:0;
    background:transparent;
}

.toolbar {
	background-color: #265860;
	text-align: center;
}

.menu {
	margin-bottom: 0px;
}

#menu_icon {
	width: 15px;
}

#menu_icon:hover {
	color: #f9f8f4;
}

.fa-bars {
	font-size: 20px;
}

.navbar-header{
	text-align: left;
	height: 52px;
	padding-left: 10px;
	padding-top: 15px;
}

.navbar {
	border: none;
	z-index: 30;
	height: 55px;
}

.title {
	display: inline;
	padding-left: 10px;
	font-size: 20px;
	color: white;
}

.title:hover {
	color: #f9f8f4;
}

#bar {
	height:80px;
	padding: 0px;
}

#searchbar {
	background-image: url('../food2.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
	height: 300px;
	padding: 5%;
}

.searchbar_button,
.form-control {
	height: 60px;
	border-radius: 0px;
}

.form-control {
	font-size: 20px;
}

.dropdown_button{
	border-right: none;
    border-left: none;
}

.search_filter {
	padding: 8px;
}    

#recipes {
	padding: 20px;
}

.recipe_item {
	display: inline-block;
	padding: 20px;
	margin-bottom: 1%;
	background-color: rgba(0,0,0,0.35);
}

.recipe_item .title {
	padding-bottom: 8px;
	float: left;
	width: calc(100% - 20px);
	font-weight: 700;
	font-size: 16px;
	padding-left: 0px;
	cursor: pointer;
	color: #f9f8f4;
	position: relative;
	border-bottom: 1px solid #f9f8f4;
}

.recipe_item .dropdown {
	float: right;
	width: 20px;
	cursor: pointer;
}

.recipe_item .more_info {
	width: 100%;
	clear: both;
}

.recipe_item .ingredients {
	padding: 5px 0px;
}

.hidden {
	display: hidden;
}

.container-fluid {
	z-index: -1;
}

#slide_menu_icon {
	height: 100%;
	width: 10%;
	background-color: rgba(38, 88, 96, 0.8);
	position:fixed;
	padding-top: 55px;
 }

.btn #search_concept {
	font-size: 15px;
	background-color: white;
}
*/