<!DOCTYPE html>

<html ng-app="Recipes">

<head>
	<title>Peace Corps Recipes</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"> </script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.f4/js/bootstrap.min.js" > </script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
	<link rel="stylesheet" href="css/about_style.css" type="text/css"/>
	<link rel="stylesheet" href="css/index_style.css" type="text/css"/>
	<script src ="js/index.js"> </script>

</head>

<body ng-controller="RecipesController">
	<div ng-show="showMenu" class="ng-hide"id="slide_menu_icon">
		<ul id ="navul">
			<li><a href="about.html">About</a></li>
            <li> <a href="contact.html">Contact</a> </li>
            <li> <a href="form.html">Add Recipe</a></li>
		</ul>
	</div>
	<div id="content">
		<nav class="navbar">
			<div class="container-fluid toolbar">
				<div class="navbar-header">
					<!-- <img ng-click="showMenu=!showMenu;" id="menu_icon" src="img/menuicon.png"/> -->
					<i ng-click="showMenu=!showMenu;" id="menu_icon" class="menu_icon fa fa-bars" aria-hidden="true"></i>
					<a href="index.html"> 
                		<div class="title"> <strong> PEACE CORPS </strong> RECIPES </div>
					</a> 
				</div>
			</div>
		</nav>
	</div>
	
    <div id = "middle_box">
    	<ul style>
            <li id = "q_about"> HOW-TO: </li>
               <p id = "content_about"> PeaceCorp Recipes is designed for you to peruse through thousands of recipes! Search by your available ingredients and tools to see what delicious meal awaits you. 
               </p>

            <li id = "q_about"> BEHIND THE SCENES: </li>
              <p id = "content_about"> PeaceCorp Recipes is one of Tufts <a href="http://jumbocode.org/">JumboCode </a>'s projects. We're a group of gastropod enthusiasts, violin players, ottava rima writers, soldering masters, and passionate programmers — trying to translate our knowledge of semi-colons and ng-controllers to create fruitful and effective things.
              </p>

            <li id = "q_about"> POWER TEAM: </li>
              <p id = "content_about"> 
              	toInsert = team photo </br>
              	Andre Newland
              	Nicholas Yan
              	Elif Kinli
              	Jade Chan
              	Max Tung
              	Suruchi Devanahalli
              </p>

            <li id = "q_about"> PEACE-OUT: </li>
              <p id = "content_about"> To learn more about the Peace Corp and the amazing work that they do, check out their <a href="http://www.peacecorps.gov/"> website</a>.
              </p>

    	</ul>
    </div>
</body>
</html>  









