<!DOCTYPE html>

<html ng-app = "Recipes">

<head>
	<title>Peace Corps Recipes</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"> </script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js" > </script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
	<link rel="stylesheet" href="css/index_style.css" type="text/css"/>
	<link rel="stylesheet" href="css/contact_style.css" type="text/css"/>
	<script src ="js/index.js"> </script>
</head>

<body ng-controller="ContactController">
	<div id="content">

	<nav class="navbar navbar-default">
		<div class="container-fluid toolbar">
			<div class="navbar-header">
				<a href="index.html"> 
        			<div class="title"> <strong> PEACE CORPS </strong> RECIPES </div>
				</a> 
			</div>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  				<ul class="nav navbar-nav navbar-right">
    				<li> <a href="form.html">Add Recipe</a></li>
    				<li><a href="about.html">About</a></li>
					<li> <a href="contact.html">Contact</a> </li>
				</ul>
				</div>
			</div>
	</nav>	

	 <div id="middle_box">
	 	<div class ="not_form_content">
	 	<h1> Say Hello </h1>
	 	<p> Shoot us a message at PeaceCorpRecipes@gmail.com. </br>
	 		Go on, send us a message. We won't bite! </p>
	 	</div>

		<form novalidate class="simple-form" action="MAILTO:peacecorprecipes@gmail.com" method="post" enctype="text/plain">
			<div class="input_frame clearfix">
				<div class="title"> Name: </div>
                <input ng-model="form_name" name="name" type="text"/>
                <div class="error_box" ng-show="show_title_error" class="ng-hide">Required field</div>
            </div>

           <div class="input_frame clearfix">
                <div class="title"> Email: </div>
                <input ng-model="form_email" name="mail" type="text"/>
                <div class="error_box" ng-show="show_title_error" class="ng-hide">Required field</div>
            </div>

            <div class="input_frame clearfix">
            	<div class="title"> Message: </div>
                <textarea ng-model="form_message" name="message" type="text" id="instructions_input" ></textarea>
                <div class="error_box" ng-show="show_instruction_error" class="ng-hide">Required field</div>
            </div>
            <button ng-click="sendContactForm()" type="submit" class="submit btn btn-default">Submit</button>
         </form>
	 </div>   
</body>
</html>