<!DOCTYPE html>

<html ng-app="Recipes">

<head>
    <title>Peace Corps Recipes</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"> </script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js" > </script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script src ="js/index.js"> </script>
    <link rel="stylesheet" href="css/index_style.css" type="text/css"/>
    <link rel="stylesheet" href="css/form.css" type="text/css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

</head>
<body ng-controller="FormController">

    <div ng-show="showMenu" class="ng-hide" id="slide_menu_icon">
        <ul id= "navul">
            <li><a href="about.html">About</a></li>
            <li> <a href="contact.html">Contact</a> </li>
            <li> <a href="form.html">Add Recipe</a></li>
        </ul>
    </div>

    <div id="content">
        <nav class="navbar">
            <div class="container-fluid toolbar">
                <div class="navbar-header">
                    <i ng-click="showMenu=!showMenu;" id="menu_icon" class="menu_icon fa fa-bars" aria-hidden="true"></i>
                    <a href="index.html"> 
                        <div class="title"> <strong> PEACE CORPS </strong> RECIPES </div>
                    </a> 
                </div>
            </div>
        </nav>

        <form novalidate class="simple-form">

            <h1>
                Recipe Information
            </h1>
            
            <div class="input_frame clearfix">
                <div class="title">
                    Title:
                </div>
                <input ng-model="form_title" type="text" placeholder="e.g. Banana Pancakes"/>
                <div class="error_box" ng-show="show_title_error" class="ng-hide">Required field</div>
            </div>

            <div class="input_frame clearfix">
                <div class="title">
                    Ingredients:
                </div>
                <div class="ingredient_frame">
                    <div class="ingredient_input clearfix">
                        <input ng-model="form_amount" class="ingredient_amnt" placeholder="Amount" type="text"/>
                        <input ng-model="form_ingredient" class="ingredient_name" ng-keypress="keypressEnterIngredient($event)" placeholder="Ingredient" type="text"/>
                        <i ng-click="addIngredient()" id="add-sign" class="fa fa-plus"></i>
                    </div>
                    <div ng-repeat="ingredient in form_ingredients">
                        <div class="added_frame">
                            <div class="added_ingredient clearfix">
                                {{ingredient.amount}}  {{ ingredient.ingredient}}
                            </div>
                            <i ng-click="deleteIngredient()" id="remove-sign" class="fa fa-times"></i>
                        </div>
                    </div>
                </div>
                <div class="error_box" ng-show="show_ingredient_error" class="ng-hide">Required field</div>

            </div>

            <div class="input_frame clearfix">
                <div class="title">
                    Instructions:
                </div>
                <textarea ng-model="form_instructions" type="text" id="instructions_input" ></textarea>
                <div class="error_box" ng-show="show_instruction_error" class="ng-hide">Required field</div>
            </div>

            <div class="input_frame clearfix">
                <div class="title">
                    Utilities:
                </div>

                <div class="ingredient_frame">
                    <div class="ingredient_input clearfix">
                        <input ng-model="form_utility" ng-keypress="keypressEnterUtility($event)" class="form_utility" type="text" placeholder="e.g. stove, pot, oven"/>
                        <i ng-click="addUtility()" id="add-sign" class="fa fa-plus"></i>
                    </div>
                    <div ng-repeat="utility in form_utilities track by $index">
                        <div class="added_frame">
                            <div class="added_utility">
                                {{utility}}
                            </div>
                            <i ng-click="deleteUtility()" id="remove-sign" class="fa fa-times"></i>
                        </div>
                    </div>
                </div>
            </div>

            <div class="input_frame clearfix">
                <div class="title">
                    Cuisine:
                </div>
                <input ng-model="form_cuisine" type="text" placeholder="e.g. Asian, Mediterranean"/>
            </div>
            <div class="input_frame clearfix">
                <div class="title">
                    Country:
                </div>
                <input ng-model="form_country" type="text" placeholder="e.g. Turkey, Hong Kong"/>
            </div>
            <button ng-click="sendRecipes()" type="submit" class="submit btn btn-default">Submit</button>
          </form>

    </div>

</body>

</html>
