<!DOCTYPE html>

<html ng-app="Recipes">

<head>
	<title>Peace Corps Recipes</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"> </script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js" > </script>
	<link rel="stylesheet" href="css/index_style.css" type="text/css"/>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
	<script src ="js/index.js"> </script>
</head>
<body ng-controller="RecipesController">

	<div ng-show="showMenu" class="ng-hide" id="slide_menu_icon">
		<ul id = "navul">
			<li><a href="about.html">About</a></li>
			<li> <a href="contact.html">Contact</a> </li>
			<li> <a href="form.html">Add Recipe</a></li>
		</ul>
	</div>

	<div id="content">
		<nav class="navbar">
			<div class="container-fluid toolbar">
				<div class="navbar-header">
					<i ng-click="showMenu=!showMenu;" id="menu_icon" class="menu_icon fa fa-bars" aria-hidden="true"></i>
					<a href="index.html"> 
                		<div class="title"> <strong> PEACE CORPS </strong> RECIPES </div>
					</a> 
				</div>
			</div>
		</nav>
		<div class="container-fluid">
	<div class="container-fluid">
		<div class="row" id="searchbar">
			<div class="col-xs-8 col-xs-offset-2" id="bar">
		     <div class="input-group stylish-input-group">
                <div class="input-group-btn search-panel">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    	<span id="search_concept">Search by: </span>
                    	<span id="search_concert">{{search_type}}</span>
                    	<span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                      <li ng-class="titleClass" ng-click="setSearchTitle();" class="search_filter">Title</li>
                      <li class="divider"></li>
                      <li ng-class="ingredientClass" ng-click="setSearchIngredient()" class="search_filter">Ingredients
                      </li>
                    </ul>
                </div>
	                <input type="hidden" name="search_param" value="all" id="search_param">         
	                <input ng-model="search_term" type="text" id="search-bar" class="form-control" ng-keypress="keypressEnter($event)" 
	                placeholder="So tell us, what do you want to cook today?">
	                <span class="input-group-addon">
	                    <button ng-click="search()" class="btn btn-default" type="submit">
	                    	<span class="glyphicon glyphicon-search"></span>
	                    </button>
	                </span>
            </div>
        </div>
    </div>
		<div class="row" id="recipes">
			<div ng-repeat="recipe in recipes" class="col-sm-8 col-sm-offset-2 recipe_item" id="recipe_template">
				<div class="recipe-header" ng-click="showDescrip=!showDescrip;">
					<div class="title">{{recipe.title}}</div>
					<div class="dropdown"><span class="glyphicon glyphicon-chevron-down"></span></div>
				</div>
				<div ng-show="showDescrip" class="ng-hide" class="more_info">
					Ingredients : 
					<div ng-repeat="ingredient in recipe.ingredients" class="ingredients"> {{ingredient}}
					</div>
					Instruction :
					<div class="instructions">
						{{recipe.instructions}}
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
</body>

</html>
