<!DOCTYPE html>

<html ng-app="Recipes">

<head>
	<title>Peace Corps Recipes</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"> </script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js" > </script>
	<link rel="stylesheet" href="css/index_style.css" type="text/css"/>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-animate.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-sanitize.js"> </script>
	<script src ="js/index.js"> </script>
	 <link rel='shortcut icon' href='img/favicon.ico' type='image/x-icon'/>
</head>
<body ng-controller="RecipesController">
	<div class="row" id="menu-header">
		<div class="col-md-6 col-sm-6 col-xs-6 navbar-fixed-top" id="menu">
			<nav class="navbar navbar-default">
	  			<div class="container-fluid toolbar">
	    			<div class="collapse navbar-collapse">
	      				<ul class="nav navbar-nav navbar-right">
	      					<li><a href="index.html" id="selected_page">HOME</a></li>
	        				<li> <a href="form.html">ADD A RECIPE</a></li>
	        				<li><a href="about.html">ABOUT</a></li>
	    				</ul>
	   				</div>
	  			</div>
			</nav>		
		</div>
	</div>

	<div id="PeaceCorpsImage" ng-class="{hideFoodLogo: hideFoodLogo}">
        <div class="row">
            <div id="logo_frame">
                <img src="img/logo.png" id="food_logo" ng-class="{hideFoodLogo: hideFoodLogo}">
            </div>
        </div>
 	</div>

	<div class="row" id="search_section" ng-class="{hideFoodLogo: hideFoodLogo}">
		<div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1" id="search">
			<div class="input-group">
				<div class="input-group-btn">
				    <button ng-click="displayDiv();" type="button" class="btn btn-default dropdown-toggle searchbar_button dropdown_button" id="titleOrIngred"data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> {{search_type}}
				    	<span class="caret"></span>
				    </button>
			        <ul class="dropdown-menu">
			          	<li ng-class="titleClass" ng-click="setSearchTitle();" class="search_filter">Title</li>
			          	<li ng-class="ingredientClass" ng-click="setSearchIngredient()" class="search_filter">Ingredients
	                    </li>
			        </ul>
				</div>
				<input ng-model="search_term" type="text" id="searchbar_input" class="form-control" ng-keypress="keypressEnter($event)" placeholder="What do you want to cook today?" ng-click="displayDiv();">
	     		<span class="input-group-btn">
	                <button ng-click="search()" class="btn btn-default searchbar_button" id="searchIcon" type="submit">
	                   	<span class="glyphicon glyphicon-search"></span>
	                </button>
	            </span>
	    	</div>
    	</div>
	</div>
	<div ng-show="searchDiv" class="ng-hide">
	 	<div class="container-fluid">
			<div class="row" id="recipes">
				<div ng-repeat="recipe in recipes track by $id(recipe.title)" class="col-sm-6 col-sm-offset-3 recipe_item" id="recipe_template">
					<div class="recipe-header" ng-click="showDescrip=!showDescrip;">
						<div class="title" id='recipe-title'> <span id="recipe-title-words">{{recipe.title}} </span>
						<span class="glyphicon glyphicon-chevron-down dropdown" id="recipe-title-icon"></span>
						</div>
					</div>
					<div ng-show="showDescrip" class="ng-hide more_info">
						<div class="more_info_headers"> 
							<span class="info_header_underline">Ingredients: </span> </div> 
						<ul>
						<li ng-repeat="ingredient in recipe.ingredients" class="ingredients"> 
							{{recipe.amounts[$index]}} {{ingredient}}
						</li>
						</ul>
						<div class="more_info_headers"> 
							<span class="info_header_underline">
						Instruction: </span>
						</div>
						<div class="instructions">
							{{recipe.instructions}}
						</div>
						<div class="more_info_headers"> 
							<span class="info_header_underline">
						Cuisine: </span>
						</div>
						<div class="instructions">
							{{recipe.cuisine}}
						</div>
						<div class="more_info_headers"> 
							<span class="info_header_underline">
						Country: </span>
						</div>
						<div class="instructions">
							{{recipe.country}}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
</body>

</html>