body {
	font-family: Helvetica;
}

.stylish-input-group .input-group-addon{
    background: white !important; 
}
.stylish-input-group .form-control{
	border-right:0; 
	box-shadow:0 0 0; 
	border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}

.toolbar {
	background-color: #265860;
	text-align: center;
}

a {
	color: white;
	display: inline;
}

a:hover {
	color: orange;
}

img#menu_icon {
	display: inline;
	width: 2.5%;
	margin-bottom: 5px;
}

.navbar-header{
	text-align: left;
}

.title {
	display: inline;
	padding-left: 10px;
}
#bar {
	height:80px;
}

#searchbar {
	height: 80px;
}

#imaginary_container {
	width: 150%;
}

#recipe_item {
	background-color: orange;
	height: 40px;
}

#recipes {
	margin-top: 10px;
}