#title_or_ingredient {
	width:100%;
	text-align: center;
}

.btn-group {
	display: inline-block;
}


body {
	font-family: Helvetica;
}

.stylish-input-group .input-group-addon{
    background: white !important; 
}

.stylish-input-group .form-control{
	border-right:0; 
	box-shadow:0 0 0; 
	border-color:#ccc;
}

.stylish-input-group button{
    border:0;
    background:transparent;
}

.toolbar {
	background-color: #265860;
	text-align: center;
}

a {
	color: white;
	display: inline;
}

a:hover {
	color: orange;
	text-decoration: none;
}

img#menu_icon {
	display: inline;
	width: 2.5%;
	margin-bottom: 8px;
}

.navbar-header{
	text-align: left;
	height: 45px;
	padding-left: 10px;
	padding-top: 10px;
}

.navbar {
	border: none;
}

.title {
	display: inline;
	padding-left: 10px;
	font-size: 20px;
}

#bar {
	height:80px;
	padding: 0px;
}

#searchbar {
	height: 80px;
	padding: 5%;
}

.form-control {
	height: 60px;
	font-size: 20px;
}

#recipe_item {
	background-color: orange;
	height: 40px;
	padding-left: 15%;
	padding-right: 15%;
}

#recipes {
	padding-top: 5%;
	padding: 3%;
}

#slide_menu_icon {
	height: 100%;
	width: 10%;
	background-color: lightgray;
	position:fixed;
	padding-top: 55px;
 }

 ul {
	list-style-type: none;
	font-size: 16px;
	font-family: Futura;
	color: #265860;
	padding-left: 10%;
 }

 li {
 	padding-top: 7px;
}

